.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.card {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: block;
    text-align: center;
}

.image {
    max-width: 100px;
}