.main {
    display: grid;
    justify-items: center;
    gap: 1em;
    grid-auto-flow: column;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 0.375rem 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    text-align: center;
    transition: box-shadow .3s ease-in-out;
    width: 100%;
}

.text {
    padding-bottom: 1em;
}

.image {
    background-color: #e7e1dd;
    display: block;
    height: auto;
    max-height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.link {
    color: black !important;
    text-decoration: none !important;
}


@media (min-width: 800px) { 
    .main {
        display: grid;
        justify-items: center;
        gap: 2em;
        grid-auto-flow: dense;
    }
    
    .card {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 0 0.375rem 0 rgb(0 0 0 / 20%);
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        text-align: center;
        transition: box-shadow .3s ease-in-out;
        width: 100%;
    }
    
    .text {
        padding-bottom: 1em;
    }
    
    .image {
        background-color: #e7e1dd;
        display: block;
        height: auto;
        max-height: 20rem;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }
    
    .time {
    
    }

    .link {
        color: black;
        text-decoration: none;
    }
}